<div class="w-full flex justify-center">
<div class="w-full max-w-md lg:max-w-md px-4 border rounded shadow-sm bg-white py-6 ">
<h1 class="text-center text-2xl font-bold mb-4">Edit Post</h1>
    <%= simple_form_for @post do |f| %>
      <div class="flex justify-center flex-col items-center">
      <% if @post.photo.attached? %>
      <%= image_tag @post.photo, class: "rounded-lg object-cover mb-4", style: "max-width: 300px;" %>
      <% end %>
       <div>
      <div class="mb-2">
        <%= f.input :photo,required: false ,label: "Change Photo :",input_html: { class: "w-full mt-2 " }%>
      </div>
     
      <div>
        <%= f.input :description ,label: "Description :", input_html: { class: "w-full border border-gray-300 rounded px-3 py-2 outline-none focus:outline-none" }%>
      </div>
      <div class="flex justify-center">
        <%= f.submit 'Update', class: "rounded bg-[#800080] px-4 py-2  hover:bg-[#c8a2c8] text-white md:w-full flex justify-center" %>
      </div>
    <% end %>
  </div>
</div>
