<div class="grid grid-cols-1 justify-center place-items-center w-full gap-4 shadow-lg p-5 ">
  <% @posts.each do |post| %>
    <div class='w-full max-w-sm sm:max-w-md md:max-w-lg lg:max-w-xl xl:max-w-2xl rounded-lg p-8 mx-auto'>

      <% if post.user == current_user %>
      <div class="mt-4 flex gap-2 justify-end">
      <%= link_to 'Edit Post', edit_post_path(post), class: 'inline-block bg-blue-600 hover:bg-blue-700 text-white text-sm font-medium px-3 py-1 rounded-md' %>
      <%= button_to 'Delete Post', post_path(post), method: :delete, class: 'inline-block bg-red-600 hover:bg-red-700 text-white text-sm font-medium px-3 py-1 rounded-md' %>
    </div>
    <% end %>
      
      <div>
        <%= image_tag post.user.photo, class:"rounded-lg object-contain" if post.user.photo.attached? %>
      </div>

       <div class="font-bold text-md mb-2 flex items-center gap-3">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
        stroke-width="1.5" stroke="currentColor"
        class="w-8 h-8 shrink-0 rounded-full bg-slate-300 p-1 border border-gray-700">
          <path stroke-linecap="round" stroke-linejoin="round"
          d="M15.75 6a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0ZM4.501 20.118a7.5 7.5 0 0 1 14.998 0A17.933 17.933 0 0 1 12 21.75c-2.676 0-5.216-.584-7.499-1.632Z" />
        </svg>
      <span class="leading-none"><%= username(post.user_email) if post.user %></span>
  </div>

      <div class="mb-2 w-full h-70 ">
        <%= image_tag post.photo, class: 'w-full h-full  mb-2 rounded-lg' if post.photo.attached? %>
      </div>

      <div class="px-2 mb-2 italic leading-relaxed">
        Caption : <%= post.description %>
      </div>
         
      <div class="mb-2">
      <%= render partial: 'likes', locals: {post: post} %>
      </div>

      <div class='px-4 py-6 bg-slate-200 mb-2 rounded'>
        <h4 class='text-center font-bold'>Comments</h4>
        <div class="max-h-48 overflow-y-auto space-y-2  scroll-smooth">
        <% post.comments.each do |comment| %>
          <div>
            <div>
            <strong><%= username(comment.user_email) %></strong>: 
            </div>
            <div class="flex justify-between items-center text-gray-900">
              <%= comment.content %>
              <% if comment.user == current_user %>
                <%= button_to 'Delete', post_comment_path(post, comment), method: :delete, class: 'px-1 py-1 bg-red-600 hover:bg-red-700 rounded text-white text-sm' %>
              <% end %>
          
              
            </div>
          </div>
        <% end %>
      </div>
      </div>

      <%= simple_form_for Comment.new, url: post_comments_path(post), method: :post do |f| %>
        <%= f.input :content, label: 'Comment', placeholder: 'Add a comment...', label_html: {class: 'flex items-center mt-2'}, input_html: {class: 'mt-2 w-full border-none outline-none focus:outline-none rounded'} %>
        <%= f.submit 'Post Comment', class: 'text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800 w-full' %>
      <% end %>
   </div>
  <% end %>
</div>
